POSTGRES_USER_NAME=cht
POSTGRES_PASSWORD=cht_password
POSTGRES_SERVER_NAME=postgres
POSTGRES_DB_NAME=cht
POSTGRES_PORT=5432

COUCHDB_URL=https://medic:password@192-168-68-26.my.local-ip.co:8442/medic
COUCH2PG_SLEEP_MINS=120
COUCH2PG_DOC_LIMIT=1000
COUCH2PG_RETRY_COUNT=5
COUCH2PG_CHANGES_LIMIT=100